@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

body {
  background-color: var(--Very-Pale-Blue);
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: var(--Very-Dark-Cyan);
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.header {
  padding: 2rem 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.header nav .logo img {
  width: 100%;
}
.header nav .btn button {
  padding: 10px 20px;
  width: 130px;
  border: 1px solid var(--Pink);
  color: var(--Pink);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border-radius: 10px;
}
.header .txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10rem;
}
.header .txt h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}
.header .txt p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  width: 50%;
}
.header .txt button {
  background-color: var(--Pink);
  width: 350px;
  padding: 25px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--Very-Pale-Blue);
  letter-spacing: 1px;
  margin-top: 20px;
}
.header .img {
  margin: 5rem 0;
}
.header .analytics {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17rem;
}
.header .analytics .number {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.header .analytics .number img {
  width: 40px;
}
.header .analytics .number .follow {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}
.header .analytics .number .community {
  font-size: 12px;
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 100%;
  padding: 2rem 8rem;
  margin-top: 2rem;
}
.sections .section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  border-radius: 10px;
  padding: 2rem;
}
.sections .section .txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  text-align: left;
}
.sections .section .txt h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}
.sections .section .txt p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  width: 70%;
}
.sections .section .img {
  width: 50%;
}
.sections .section .img img {
  width: 100%;
}

.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 2rem 8rem;
  margin-top: 2rem;
}
.ready h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}
.ready button {
  background-color: var(--Pink);
  width: 350px;
  padding: 25px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--Very-Pale-Blue);
  letter-spacing: 1px;
  margin-top: 20px;
  transition: 0.6s ease;
}
.ready button:hover {
  background-color: #e28484;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 4rem 8rem 0rem;
  width: 115vw;
}

footer {
  width: 100%;
  background-color: var(--Very-Dark-Cyan);
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 0rem;
}
footer .content {
  padding: 2rem 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
footer .content .leftSide {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
footer .content .leftSide .logo {
  width: 220px;
}
footer .content .leftSide p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Very-Pale-Blue);
  width: 50%;
}
footer .content .leftSide .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
footer .content .leftSide .contact img {
  width: 20px;
}
footer .content .leftSide .contact .way {
  font-size: 16px;
  font-weight: 400;
  color: var(--Very-Pale-Blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
footer .content .leftSide .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
}
footer .content .leftSide .social i {
  font-size: 30px;
  font-weight: 400;
  color: var(--Very-Pale-Blue);
}
footer .content .leftSide .social i:nth-child(1) {
  color: #1877f2;
}
footer .content .leftSide .social i:nth-child(2) {
  color: #1da1f2;
}
footer .content .leftSide .social i:nth-child(3) {
  color: #e4405f;
}
footer .content .rightSide {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
footer .content .rightSide .title {
  font-size: 30px;
  font-weight: 700;
  color: var(--Very-Pale-Blue);
}
footer .content .rightSide p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Very-Pale-Blue);
  width: 50%;
}
footer .content .rightSide div {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}
footer .content .rightSide div .email {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
footer .content .rightSide div .email input {
  font-size: 16px;
  font-weight: 400;
  color: var(--Light-Red);
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--Very-Pale-Blue);
  width: 350px;
}
footer .content .rightSide div .email input:focus {
  outline: none;
}
footer .content .rightSide div .email .error {
  color: red;
  font-size: 12px;
}
footer .content .rightSide div button {
  font-size: 16px;
  font-weight: 400;
  color: var(--Very-Pale-Blue);
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--Pink);
  width: 100px;
  transition: 0.6s ease;
}
footer .content .rightSide div button:hover {
  background-color: #e28484;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2rem 1rem;
  }
  .header .txt h1 {
    font-size: 2rem;
  }
  .header .txt p {
    width: 70%;
    font-size: 13px;
  }
  .header .img img {
    width: 100%;
  }
  .header .analytics {
    flex-direction: column;
    gap: 3rem;
  }
  .header .analytics .number .community {
    text-align: center;
  }
  .sections {
    padding: 2rem 1rem;
  }
  .sections .section {
    width: 100%;
    flex-direction: column-reverse;
  }
  .sections .section .img {
    width: 100%;
  }
  .sections .section .txt {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .sections .section .txt h1 {
    font-size: 2rem;
  }
  .sections .section .txt p {
    width: 80%;
  }
  .sections .sectionTwo {
    flex-direction: column;
  }
  .ready {
    padding: 2rem 0;
    text-align: center;
  }
  .ready h1 {
    font-size: 2rem;
  }
  .top {
    width: auto;
  }
  footer .content {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  footer .content .leftSide p {
    width: 85%;
  }
  footer .content .rightSide div {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
}
.borderError {
  border: 2px solid var(--Light-Red) !important;
}/*# sourceMappingURL=style.css.map */